body {
    --bigwidth: 50px;
    --mediumwidth: 35px;
    --lowwidth: 20px;
}
div.wordzone p {
    font-size: 200%;
}
@media screen and (min-width:600px) {
    div.line {
        height: var(--bigwidth);
        width: fit-content;
        display: flex;
        justify-content:stretch;   
    }
    div.column {
        width: var(--bigwidth);
        height: var(--bigwidth);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:600px){
    div.line {
        height: var(--mediumwidth);
        width: fit-content;
        display: flex;
        justify-content:stretch;   
    }
    div.column {
        width: var(--mediumwidth);
        height: var(--mediumwidth);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.good {
    background-color: #01be01;
}
.inword {
    background-color: #ff9100
}
.bad {
    background-color: #ad0000
}
.gray {
    background-color: #a5a5a5;
}
.border {
    border-style: solid;
    border-width: 2px;
    border-color: #888888;
}
.hide {
    display: none;
}

div.typezone {
    width: fit-content;
}
div.typezone div.up, div.typezone div.down {
    width: 100%;
    display: flex;
    justify-content: center;
}
button#youareanlooser {
    width: 100%;
}