html, body {
    height: 100%;
    overflow: hidden}
body {
    position: relative;
    scrollbar-width: none;
}
.littlebubble {
    position: absolute;
    bottom: 2%;
    right: 0;
    background: gray;
    padding: 10px;
    border-radius: 8px;
    width: 20%;
    text-align: center;
}
.littlebubble a {
    text-decoration: none;
    color: rgb(210, 210, 210);
}