html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
body {
    background: transparent;
    background: linear-gradient(120deg, #00306e 50%, #00f7ff 95%);
    background-attachment: fixed;
    color: white;
}
.hidden {
    display: none;
}
.letter {
    width: 60px;
    height: 60px;
    font-size: 150%;
}
.word {
    height: 60px;
    width: fit-content;
    display: flex;
    justify-content: stretch;
}
.littlebubble {
    position: absolute;
    bottom: 2%;
    right: 1%;
    background: gray;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
    line-height: 0.2;
    text-align: center;
}
.littlebubble a {
    text-decoration: none;
    color: rgb(210, 210, 210);
}

@media screen and (max-width: 600px) {
    .letter {
        width: 40px;
        height: 40px;
        font-size: 120%;
    }
    .word {
        height: 40px;
        width: fit-content;
        display: flex;
        justify-content: stretch;
    }
    .littlebubble {
        position: absolute;
        bottom: 0;
        background: gray;
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
        line-height: 0.2;
        text-align: center;
    }
    .littlebubble a {
        text-decoration: none;
        color: rgb(210, 210, 210);
    }
}
